@using Financial_App_Core.Models
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@Html.Partial("_DrawerHeader")

<h1 class="overview k-px-15 k-m-0">AI Assistant</h1>

